<div class="container">
  <br>
  As you prepare your undergraduate application, you should know that:

  <ul>
    <li> You need to do well in your classes so that your grades can help you to stand out among thousands of applicants</li>

    <li> Your grades are not everything. You also need extracurricular activities to show that you are more
      than a good student
    </li>
    <li>
      If English is not your native language, most schools will require you take an English test
    </li>
    <li>Work hard to get above the minimum standardized test scores required by your schools
    </li>
  </ul>

  Here are some of the documents that you might need for your application:
  <ul>
    <li>High school diploma</li>
    <li>National exam scores</li>
    <li>High school transcripts (usually the last three years)</li>
    <li>Recommendation letters</li>
  </ul>

  <p>The most common standardized English test is called TOEFL.
    It has four sections: reading, writing, listening and speaking.
    <br> 
    For more information about TOEFL, <a href= "https://www.ets.org/toefl" target="_blank"> click here</a>.
    Depending on the university, other alternative tests might be <a href= "https://www.ielts.org/" target="_blank"> IELTS</a> 
    or <a href= "https://englishtest.duolingo.com/home" target="_blank"> Duolingo </a>
  <p>
    Some schools will also require tests called <a href= "https://collegereadiness.collegeboard.org/sat" target="_blank">SAT </a> or 
    <a href= "https://www.act.org/" target="_blank">ACT</a>.
  <p>

  If you are not able to do any of those tests, there are a few schools
  (mostly community colleges), which do not require any standardized tests.

  <h2><br>Admission and financial aid</h2>
    Before you get a scholarship, you will need to apply the same way as anybody else to be admitted.
    After being admitted, you can become eligible for a scholarship.
    
    <p>
    The school might be able to give you financial aid. Make sure to check thoroughly your
    school's website to see which kind of financial aid it offers. 
    </p>
     
    You may also receive financial aid from another organization that can pay your universities expenses.
    For example, the <a href= "https://mastercardfdn.org/" target="_blank"> MasterCard Foundation</a> gives scholarships  
    to many undergraduate and graduate students in different countries around the world.
     
    <br>
    You can request a student loan that you will have to pay after graduation. If you have the money, you can always pay for yourself. 

    <h2> <br>College readiness programs</h2>
    If you can prepare yourself for college applications on your own, that's great! However, that can be hard for many people, especially if 
    your English is not good. There are organizations that help high school students or high school graduates to prepare for the standardized tests
    and guide students through the university application process.

    <br><br>These programs prepare students to apply to universities when they are still in high school:
    <ul>
      <li> <a href = "http://bridge2rwanda.org/" target="_blank">Bridge2Rwanda </a> : Two years before finishing high school, students spend a 
        summer in Rwanda learning English and Leadership. The program follows up with the students when they go back to school so that they 
      can be ready to apply to universities as soon as they graduate from high school</li>
      <li> <a href = "https://meto-intl.org/">Meto</a></li>
      <li> <a href = "https://www.uwc.org/" target="_blank"> United World College</a></li>
      <li> <a href = "http://www.africanleadershipacademy.org/" target="_blank"> African Leadership Academy</a> </li>
    </ul>

    <p> If you have already graduated from high school, you can apply to</p>
      <ul>
        <li> <a href = "https://en.ashinaga.org/"target="_blank"> Ashinaga</a>: Gap-year program with a French program in Sénégal and an English program in Uganda. 
        </li>
        <li> <a href = "http://www.tujenge.org/" target="_blank"> Tujenge</a>: English gap-year program similar to Ashinaga and Bridge2Rwanda. 
          It is based in Bujumbura.
        </li>
      </ul>  
</div>

