<div class="container" >
  <br>To apply to graduate school, you will need:
  <ul>
      <li> Your university transcript </li> 
      <li> Two or three recommendation letters </li>      
      <li> Statement of purpose </li>
      <li> Personal statement </li>
      <li> Other essays required by the program that you are applying to</li>
  </ul> 

  Here are some other facts that you can keep in mind as you prepare your application:
  <ul>
      <li> Researching while you are still in undergraduate school will look great on your graduate application</li>

      <li> Work hard to have the best grades you can have in undergraduate studies. It will show that you are skilled and can 
            handle the workload of graduate school
      </li>

      <li> Be active in the real world. You can show that through volunteering, work, internship, ...</li>

      <li> Unlike undergraduate school, you should know what you want to study in graduate school because, in your application,
          you need to say which program you are applying to and why. If you are applying to a PhD program, you should know different 
          research projects going at the universities that you are applying to, and if possible, get in touch with professors 
          working on those projects.
      </li>

      <li> Some schools might require another exam called GRE. For more information about GRE, 
            <a href= "https://www.ets.org/gre/" target="_blank"> click here.</a>
      </li>
  </ul>

  <h2>Financial aid</h2>
      There are not as many need-based scholarships for graduate school as for undergraduate. However, each school has some kind 
      of financial aid that you might be eligible for. If you apply for a PhD, it is likely to be fully funded because 
      the project that you work on will have a dedicated budget that will cover your living expenses.

      <br> For a master's degree, you can be a teaching or research assistant, and the school can cover some, if not most of your expenses. 
      <br><br>There are some organizations that can fund your graduate education:
      <ul>
        <li>
        <a href="https://erasmus-plus.ec.europa.eu/opportunities/individuals/students/erasmus-mundus-joint-masters-scholarships">Erasmus</a> 
        offered by the European Union has fully funded master's programs in Europe      
        </li>

        <li>
        <a href="https://www.chevening.org/scholarship/burundi/"> Chevening</a> also offers master's scholarships in the United Kingdom  
        </li>

        <li>
        <a href= "https://mastercardfdn.org/"> MasterCard Foundation</a> offers scholarships in different countries around the world      
        </li>
    </ul>
</div>

