
<div class="title">
    <div class="subtitle">
      <a mat-button [routerLink]="'/general'" routerLinkActive="active_window"> GENERAL INFO </a>
    </div>

    <div class="subtitle"> 
      <a mat-button [routerLink]="'/undergrad'" routerLinkActive="active_window"> UNDERGRADUATE </a> 
    </div>

    <div class="subtitle">
      <a mat-button [routerLink]="'/grad'" routerLinkActive="active_window"> GRADUATE </a>
    </div>

    <div class="subtitle">
      <a mat-button [routerLink]="'/contact'" routerLinkActive="active_window"> Contact me</a>
    </div>
</div>

<div class="container">
  <router-outlet></router-outlet> 
</div>