@media (min-width:480px){
    .title{
        display: flex;
        color:white;
    }
    .subtitle{
        margin-top: 14px;
        width: 25%;
        background-color: #74b5da;
        opacity: 0.6;
        background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #74b5da 10px ), repeating-linear-gradient( #4d97e355, #4d97e3 );
    }

    a{
        font-size: 1em;
    }
}

.title{
    color:black;
    font-weight: bolder;
}

.subtitle{
    text-align: center;
    background-color: #74b5da;
    opacity: 0.6;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #74b5da 10px ), repeating-linear-gradient( #4d97e355, #4d97e3 );
}

.container{
    margin: 0% 5%;
}

.active_window{
    background: green;
}
