
<div class="container">
    <p> <br>
      Applying to university in a foreign country can be daunting... However, thousands of international students
      around the world make it every year. You too can make it! 
    </p>
    <p>
      This site contains very basic information about the American university application process,
      for undergraduate studies (<i>baccalauréat ou licence</i>) and graduate studies (<i>master ou doctorat</i>).
    </p>
    
    <h2><br>About the American higher education system</h2>
      In the U.S, bachelor's programs last four years, Master's degrees one to two years, and Ph.D. four to six years. 
      Unlike many other countries, you cannot start medical school straight out of high school from your first 
      year of university. First, you have to earn a four-year bachelor's degree in any major(<i>faculté</i>), then apply 
      to medical school(which lasts four years). The same process applies to dental, veterinary, or law school.

    <p>
      In the U.S, you are not required to declare your major until the second year of university, which means that by the time 
      you start university, is okay to be undecided about what you want to study. Moreover, you can have more than one major or 
      minor at no extra cost.
    </p>

    <br>
    <h2> Differences and similarities between University, College and Community College</h2>
    <ul>
      <li>
        <b> University</b>: offers undergraduate degrees (bachelor's) and graduate degrees (master's degrees and/or PhD)
      </li>

      <li>
      <b> College</b>: offers only undergraduate degrees. Therefore, you can get a bachelor's degree at a college 
        or a university. Moreover, the terms "College" and "University" are interchangeably 
        used in the United States
      </li>
      
      <li>
      <b> Community College</b>: offers associate degrees in 2 years. You can transfer from a community college to a college or university if 
          you want more advanced degrees.
      </li>
    </ul>

    <p>
      In the US, the words "college" and "university" are often used interchangeably, and their cost of attendance 
      is more or less similar. You can get your bachelor's degree at a university or a college.
    </p>
    
    <h2><br>Financial aid</h2>  
      American schools are notoriously expensive. Unless you are rich or willing to take loans, you will need financial aid. You should make sure 
      the school that you are applying to normally gives financial aid. Admission is the most important step because 
      you will need to be admitted before your school considers giving you a scholarship.
      Most schools will often fund your education if they like you as a student. There are different types of scholarships, 
      but many international students often receive need-based scholarships.
    
    <br> <br>
    <h2> So, where should you start this whole application process?</h2>
    <ul>
      <li>Look for universities that have majors that you are interested in</li>
      <li>Look at the university's website the application requirements, especially standardized tests and 
        language requirements for international students
      </li>
      <li>If you know that you will need a scholarship, make sure the university provides scholarships</li>
      <li>Study and prepare yourself for the standardized tests and get the best scores you can get</li>
      <li>Make sure you have all the documents needed for your application</li>
      <li>Submit your application and hope for the best!</li>
    </ul>

      To increase your chances, you might need to apply to many universities. Do not hesitate to contact the 
      schools that you are interested in if you have any questions. It might also be helpful to talk to current students or alumni 
      of the school that you are applying to.

      <p><br>
        Click on these links to find out more about <a [routerLink]="'/grad'"> graduate </a> or  <a [routerLink]="'/undergrad'"> undergraduate </a> applications.
      </p>
       
      <br>
      <h2>Some resources</h2>
      <a href= "https://www.wikihow.com/Prepare-for-College-in-High-School" target="_blank"> College readiness</a> 
      <br>
      <a href="https://www.topuniversities.com/blog/what-liberal-arts-education">What is Liberal Arts Education </a>
      <br>
      <a href="https://www.usnews.com/education/community-colleges/articles/2015/02/06/frequently-asked-questions-community-college">
        More information about community colleges 
      </a>
      <br>