@media (min-width:480px){
    .header{
        display: flex;
        /* height: 90px; */
        height: 10%;
        margin: -1% -1%;
        background-color: rgb(59, 149, 190);
    }
    
    .text{
        margin:auto;
        color:white;
        font-family: Verdana;
        font-size:2.5em;
        line-height: 1.6em;
        font-weight: bold;
    }
}

.header{
    display: flex;
    height: 10%;
    margin: -1% -1%;
    background-color: rgb(59, 149, 190);
}

.text{
    margin:auto;
    color:white;
    font-size:1.5em;
    font-family: Verdana;
}

.footer{
    height: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
